/*!*************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./assets/normalize/mynormalize.css ***!
  \*************************************************************************************/
  body {
    margin: 0;
  }
  
  *, 
  *::before,
  *::after{
      box-sizing: border-box;
  }
  
  
  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }
  
  
  ul,
  p{
  margin: 0;
  padding: 0;
  
  }
  
  li{
  list-style: none;
  
  }
  
  a{
  text-decoration: none;
  line-height: 0;
  color: #000000;
  }
  
  
  img {
    border-style: none;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
    line-height: 0;
  }
  
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 0; /* 1 */
    margin: 0; /* 2 */
    padding: 0;
  }
  
  
  /*!**********************************************************************!*\
    !*** css ../node_modules/css-loader/dist/cjs.js!./styles/fonts.scss ***!
    \**********************************************************************/
  @font-face {
    font-family: "Montserrat";
    src: url(ac98a5f5ca71180fe293.ttf) format('truetype');
  }
  
  @font-face {
    font-family: "Roboto";
    src: url(a8d6ac03c7b96b7acb62.ttf) format('truetype');
  }
  
  @font-face {
    font-family: "Open-Sans";
    src: url(d7d7b8359eeb9cddfba6.ttf) format('truetype');
  }
  
  @font-face {
    font-family: "Open-Sans light";
    src: url(846a12caf01a940847a7.ttf) format('truetype');
  }
  /*!*************************************************************************************************************!*\
    !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./styles/styl.sass ***!
    \*************************************************************************************************************/
  .education::before, .contacts::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 0;
    width: 95%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
  }
  
  .content-title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
  }
  
  body {
    background: #797878;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    line-height: 1.1;
    color: #000000;
  }
  
  .container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    background: #fff;
    padding: 0 10px;
    padding-top: 30px;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  .header {
    width: 100%;
    max-width: 100%;
    padding: 30px 30px 0 30px;
    display: flex;
    align-items: flex-start;
  }
  
  .header__photo {
    width: 35%;
    height: 100%;
    object-fit: cover;
  }
  
  .person {
    width: 65%;
    height: auto;
    margin-left: 15px;
  }
  .person__name {
    font-family: "Open-Sans", sans-serif;
    font-size: 54px;
    margin-bottom: 5px;
  }
  .person__info {
    font-family: "Open-Sans light", sans-serif;
    opacity: 0.5;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .person__text {
    line-height: 1.4;
  }
  
  .content {
    padding: 0px 30px 0 30px;
    display: flex;
  }
  
  .info {
    width: 35%;
    padding-top: 30px;
    background: #797878;
    color: #fff;
  }
  
  .contacts {
    position: relative;
    font-size: 22px;
    line-height: 1.4;
    padding-bottom: 40px;
  }
  .contacts__items {
    color: #fff;
  }
  .contacts__items .contacts__item {
    position: relative;
    padding-left: 65px;
    margin-bottom: 10px;
  }
  .contacts__items .contacts__item::before {
    content: "";
    display: block;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }
  .contacts__items .contacts__item.telegram::before {
    background-image: url(8c45a8e3d6eb06eaddec.svg);
  }
  .contacts__items .contacts__item.vk::before {
    background-image: url(81f98878c5cf1f6415bb.svg);
  }
  .contacts__items .contacts__item.email::before {
    background-image: url(6538f2ccd6e06bcd5756.svg);
  }
  .contacts__items .contacts__item.maps::before {
    background-image: url(0c941860a948895ffcfa.svg);
  }
  .contacts__items .contacts__item.github::before {
    background-image: url(7894bcfab1ab247b6ad7.svg);
  }
  .contacts__items .contacts__item a {
    position: relative;
    color: #fff;
    transition: 0.4s;
  }
  .contacts__items .contacts__item a:hover {
    color: #000000;
  }
  .contacts__items .contacts__item a:active {
    color: #fff;
  }
  
  .info__titlies {
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    padding-left: 5%;
    margin-bottom: 15px;
  }
  
  .education {
    position: relative;
    padding-bottom: 30px;
  }
  .education__inner {
    padding-left: 5%;
    margin-bottom: 30px;
  }
  .education__name {
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .education__text {
    font-size: 18px;
  }
  
  .skills {
    padding-bottom: 30px;
  }
  .skills .skills__text {
    position: relative;
    text-transform: uppercase;
    padding-left: 5%;
    line-height: 1.1;
    margin-bottom: 15px;
  }
  .skills .skills__text::after {
    display: block;
    content: "";
    position: absolute;
    left: 250px;
    top: 50%;
    transform: rotateX(-50%);
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
  }
  .skills .skills__text.html_width::after {
    width: 130px;
  }
  .skills .skills__text.css_width::after {
    width: 120px;
  }
  .skills .skills__text.sass_width::after {
    width: 120px;
  }
  .skills .skills__text.js_width::after {
    width: 110px;
  }
  .skills .skills__text.webpack_width::after {
    width: 110px;
  }
  .skills .skills__text.english_width::after {
    width: 70px;
  }

  .works {
    width: 65%;
    padding-top: 30px;
  }
  
  .portfolio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-left: 30px;
  }
  .portfolio .portfolio__item {
    position: relative;
    width: 48%;
    height: 300px;
    background: #30d5c8;
    cursor: pointer;
  }
  .portfolio .portfolio__item:hover .portfolio__image {
    transform: translate3d(-10px, -10px, 0);
  }
  .portfolio .portfolio__item:hover .portfolio__image img {
    opacity: 0.3;
  }
  .portfolio .portfolio__item:hover .portfolio__text {
    opacity: 1;
  }
  .portfolio .portfolio__item .portfolio__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .portfolio .portfolio__item .portfolio__image {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.2s linear;
  }
  .portfolio .portfolio__item .portfolio__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.1s linear;
  }
  
  .code {
    padding: 30px 30px;
  }
  .code__inner {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #000;
  }
  
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background: #2e2d2d;
    color: #fff;
    font-size: 22px;
  }
  .footer__logo {
    background: url(8f7188d79d1eb6d3f235.svg) no-repeat center center;
    background-size: 100% 100%;
    width: 100px;
    height: 30px;
  }
  
  @media screen and (max-width: 1184px) {
    .skills .skills__text::after {
      left: 180px;
      top: 20%;
    }
  }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 18px;
    }
  
    .person__text {
      line-height: 1.1;
    }
  
    .header, .content, .code {
      padding-left: 0;
      padding-right: 0;
    }
  
    .skills .skills__text::after {
      left: 148px;
      top: 20%;
    }
  
    .skills .skills__text.html_width::after {
      width: 100px;
    }
    .skills .skills__text.css_width::after {
      width: 90px;
    }
    .skills .skills__text.sass_width::after {
      width: 90px;
    }
    .skills .skills__text.js_width::after {
      width: 80px;
    }
    .skills .skills__text.webpack_width::after {
      width: 80px;
    }
    .skills .skills__text.english_width::after {
      width: 60px;
    }
  }
  @media screen and (max-width: 770px) {
    .container {
      padding-top: 10px;
    }
  
    .content-title {
      font-size: 44px;
      margin-bottom: 21px;
    }
  
    .header {
      padding-top: 0;
      flex-direction: column;
      align-items: center;
    }
  
    .person {
      text-align: center;
      width: 100%;
    }
  
    .content {
      padding-top: 30px;
    }
  
    .info {
      width: 44%;
    }
  
    .contacts {
      font-size: 19px;
    }
  
    .works {
      width: 56%;
      padding-top: 0;
    }
  
    .portfolio {
      justify-content: center;
    }
    .portfolio .portfolio__item {
      width: 100%;
    }
  
    .code__inner {
      padding: 0px;
      font-size: 15px;
    }
    .code__inner ol {
      padding-left: 15px;
    }
  }
  @media screen and (max-width: 770px) and (max-width: 620px) {
    body {
      font-size: 15px;
    }
  
    .header__photo {
      width: 60%;
    }
  
    .portfolio {
      row-gap: 10px;
    }
  
    .code__inner {
      font-size: 12px;
    }
  
    .content {
      flex-direction: column;
      align-items: center;
    }
  
    .info {
      width: 80%;
    }
  
    .works {
      padding-top: 15px;
      width: 80%;
    }
  
    .portfolio {
      padding-left: 0;
    }
  
    .footer {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 770px) and (max-width: 462px) {
    .person__name {
      font-size: 35px;
    }
  
    .info {
      width: 100%;
    }
  
    .works {
      padding-top: 15px;
      width: 100%;
    }
  
    .code__inner {
      font-size: 9px;
    }
  
    .footer {
      padding: 10px;
    }
  
    .content-title {
      font-size: 35px;
      margin-bottom: 9px;
    }
  }
  